{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/app.twig' %}

{% block title %}Upload Files{% endblock %}

{% block extrajs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
	<script>
		function setTooltip(btn, message) {
			$(btn).tooltip('hide')
				.attr('data-original-title', message)
				.tooltip('show');
		}

		function hideTooltip(btn) {
			setTimeout(function() {
				$(btn).tooltip('hide');
			}, 1000);
		}

		$(function () {
			$('.copy-to-clipboard').tooltip({
				trigger: 'click',
				placement: 'bottom'
			});

			var clipboard = new Clipboard('.copy-to-clipboard');

			clipboard.on('success', function(e) {
				setTooltip(e.trigger, 'Copied!');
				hideTooltip(e.trigger);
			});

			clipboard.on('error', function(e) {
				setTooltip(e.trigger, 'Failed! :(');
				hideTooltip(e.trigger);
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Upload Files</h3>
				</div>

				<div class="panel-body">
					<form action="{{ path_for('file.upload') }}" method="post" enctype="multipart/form-data" autocomplete="off">
						<div class="form-group{{ errors.file ? ' has-error' : '' }}">
							<label for="file">File to upload</label>
							<input type="file" name="file" id="file" required>
							{% if errors.file %}
								<span class="help-block">{{ errors.file | first }}</span>
							{% endif %}
						</div>

						<h4>
							Privacy setting
						</h4>

						{% include 'templates/partials/forms/privacy-levels.twig' %}

						<button type="submit" class="btn btn-default">Submit</button>

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>

		{% include 'templates/partials/privacy-levels-desc.twig' %}
	</div>
{% endblock %}
