{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/app.twig' %}

{% block title %}ShareX Configuration{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2>ShareX Configuration</h2>
			<p>
				To use {{ settings.site.title | default('sleeti') }} with ShareX:
			</p>
			<ol>
				<li>Copy the code below</li>
				<li>Open ShareX's main window</li>
				<li>Open the Destinations dropdown</li>
				<li>Click "Destination settings..."</li>
				<li>Click "Custom uploaders"</li>
				<li>Click "Import > From clipboard"</li>
				<li>Edit the <code>password</code> value in the Arguments area</li>
				<li>Click <b>BOTH</b> Update buttons, first on the Arguments area, then below the Custom Uploader name</li>
				<li>Ensure your new custom uploader is set as the image, text, and/or file uploaders in the bottom left</li>
				<li>Go back to the Destinations dropdown, and set your image, text, and/or file uploaders to Custom</li>
			</ol>

			<pre><code>{
	"Name": "{{ settings.site.title | default('sleeti') }}",
	"RequestType": "POST",
	"RequestURL": "{{ site.url }}",
	"FileFormName": "file",
	"Arguments": {
		"identifier": "{{ auth.user.username }}",
		"password": "PUT YOUR PASSWORD HERE"
	},
	"ResponseType": "Text",
	"RegexList": [
		"(.+)"
 	],
	"URL": "$1$"
}</code></pre>
		</div>
	</div>
{% endblock %}
