{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block extrameta %}
	<meta name="description" content="{{ settings.site.title | default('sleeti') }} - simple FOSS file sharing">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to {{ settings.site.title | default('sleeti') }}!</h1>

			<h2>What is all this?</h2>
			<p>
				This is {{ settings.site.title | default('sleeti') }},{% if settings.site.title %} which runs sleeti,{% endif %} an attempt to convert <a href="https://eeti.me/">eeti.me</a> from procedural code to MVC with Slim 3 and Eloquent, maintained by myself, <a href="https://github.com/BytewaveMLP">Bytewave</a>. This is a personal project, mostly because Alex doesn't like MVC and I do. :)
			</p>

			<h2>How can I join {{ settings.site.title | default('sleeti') }}?</h2>
			<p>
				Simply click the "sign up" link in the top right.
			</p>

			<h2>I own this site and don't like what this page says. Can I edit it?</h2>
			<p>
				Sure! Take a look at <code>/resources/views/home.twig</code> for the source to this page. It's built using <a href="https://twig.symfony.com/doc/2.x/" target="_blank">Twig 2</a>, a helpful little templating engine for PHP. If you'd like to edit any of the pages here, create a new file in <code>/resources/custom/views/</code> which matches the template you want to edit, (optionally) copy the contents over, and edit to your heart's content!
			</p>
		</div>
	</div>
{% endblock %}
