{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block extrameta %}
	<meta name="description" content="{{ settings.site.title | default('sleeti') }} - simple FOSS file sharing">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to {{ settings.site.title | default('sleeti') }}!</h1>

			<h2>What is all this?</h2>
			<p>
				This is {{ settings.site.title | default('sleeti') }},{% if settings.site.title %} which runs sleeti,{% endif %} an attempt to convert <a href="https://eeti.me/">eeti.me</a> from procedural code to MVC with Slim 3 and Eloquent, maintained by myself, <a href="https://github.com/BytewaveMLP">Bytewave</a>. This is a personal project, mostly because Alex doesn't like MVC and I do. :)
			</p>

			<h2>How can I join {{ settings.site.title | default('sleeti') }}?</h2>
			<p>
				Simply click the "sign up" link in the top right.
			</p>

			<h2>I own this site and don't like what this page says. Can I edit it?</h2>
			<p>
				Sure! Take a look at <code>/resources/views/home.twig</code> for the source to this page. Edit it to your heart's content!
			</p>
			<p>
				<b>Note:</b> If the file looks scary, it's because it's using the Twig templating engine. See the <a href="http://twig.sensiolabs.org/documentation">Twig documentation</a> to figure out what exactly is going on.
			</p>
		</div>
	</div>
{% endblock %}
