{% extends 'templates/app.twig' %}

{% block title %}Community{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Community</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p>
				This is a list of everyone registered for an eeti slim account.
			</p>
		</div>
		<div class="col-md-8">
			{% if users %}
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						{% for user in users %}
							<tr>
								<td>
									<a href="{{ path_for('user.profile', {'id': user.id}) }}">{{ user.name ?: user.username }}</a>
									{% if user.isAdmin() %}
										<span class="label label-danger">Administrator</span>
									{% elseif user.isModerator() %}
										<span class="label label-warning">Moderator</span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					No one has an account! D:
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
