{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/app.twig' %}

{% block title %}Not Found{% endblock %}

{% block extrameta %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="fa fa-exclamation-triangle"></span> 404 - Not Found
					</h3>
				</div>
				<div class="panel-body">
					<p class="lead">
						Whoops! Looks like you took a wrong turn. This page doesn't exist!
					</p>
					<p>
						<a href="{{ path_for('home') }}" class="btn btn-warning btn-sm"><span class="fa fa-home"></span> Go Home</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
