<div class="footer">
	<table width="100%">
		<tr>
			<td class="aligncenter content-block"><a href="{{ base_url }}" target="_blank">{{ settings.site.title | default('sleeti') }} home</a></td>
		</tr>
	</table>
</div>
