{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<div class="radio">
	<label>
		<input type="radio" name="privacy" id="public" value="public"{% if auth.user.settings.default_privacy_state == 0 %} checked{% endif %}>
		Public
	</label>
</div>

<div class="radio">
	<label>
		<input type="radio" name="privacy" id="unlisted" value="unlisted"{% if auth.user.settings.default_privacy_state == 1 %} checked{% endif %}>
		Unlisted
	</label>
</div>

<div class="radio">
	<label>
		<input type="radio" name="privacy" id="private" value="private"{% if auth.user.settings.default_privacy_state == 2 %} checked{% endif %}>
		Private
	</label>
</div>
