{% extends 'templates/admin/acp/main.twig' %}

{% block title %}ACP Home{% endblock %}

{% block acpcontent %}
	<div class="col-md-10">
		<p>
			Welcome to your sleeti ACP! Here you can configure your instance of sleeti to your liking!
		</p>
		<p>
			Use the links on the left to access different configuration options related to your site.
		</p>
	</div>
{% endblock %}
