<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{{ path_for('admin.acp') }}">ACP Home</a></li>
		<li role="presentation"><a href="{{ path_for('admin.database') }}">Database settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.site') }}">Site settings</a></li>
		<li role="presentation"><a href="{{ path_for('admin.password') }}">Password settings</a></li>
	</ul>
</div>
