{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'templates/mod/mcp/main.twig' %}

{% block title %}MCP Home{% endblock %}

{% block mcpcontent %}
	<div class="col-md-10">
		<p>
			Welcome to your sleeti MCP! Here you can control various moderation actions across the site.
		</p>
		<p>
			Use the links on the left to access different moderation functions.
		</p>
	</div>
{% endblock %}
