{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'templates/mod/mcp/main.twig' %}

{% block title %}MCP Home{% endblock %}

{% block mcpcontent %}
	<div class="col-md-10">
		<p>
			Welcome to your sleeti MCP! Here you can control various moderation actions across the site.
		</p>
		<p>
			Use the links on the left to access different moderation functions.
		</p>
	</div>
{% endblock %}
