{% extends 'templates/mod/mcp/main.twig' %}

{% block title %}MCP Home{% endblock %}

{% block mcpcontent %}
	<div class="col-md-10">
		<p>
			Welcome to your eeti slim MCP! Here you can control various moderation actions across the site.
		</p>
		<p>
			Use the links on the left to access different moderation functions.
		</p>
	</div>
{% endblock %}
