{#
This file is part of sleeti.
Copyright (C) 2016  Eliot Partridge

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="row">
	<div class="col-md-12">
		<span class="pull-left">
			Site running on sleeti, &copy; 2016 <a href="https://bw81.xyz">Bytewave</a>. Uploaded content is &copy; its respective owners.
		</span>
		<span class="pull-right">
			<a href="https://github.com/BytewaveMLP/sleeti"><span class="fa fa-github fa-fw"></span> Fork sleeti on Github</a>
		</span>
	</div>
</div>
