{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<div class="row">
	<div class="col-md-12">
		<span class="pull-left small">
			Site running on sleeti, copyright &copy; 2016-17 <a href="https://bytewave.antigravities.net">Eliot Partridge</a>. Licensed under <a href="https://github.com/BytewaveMLP/sleeti/blob/master/LICENSE">the MPL v2.0</a>. Uploaded content is subject to copyright by its respective owner(s).
		</span>
		<span class="pull-right small">
			<a href="https://github.com/BytewaveMLP/sleeti"><span class="fa fa-github fa-fw"></span> Fork sleeti on Github</a>
		</span>
	</div>
</div>
