<div class="col-md-2">
	<h3>Privacy levels</h3>
	<p>
		<b>Public (0)</b> - visible to anyone
	</p>
	<p>
		<b>Unlisted (1)</b> - invisible on profiles to everyone but moderators
	</p>
	<p>
		<b>Private (2)</b> - like unlisted, but requires a user to be logged in to view
	</p>
</div>
