{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<div class="col-md-2">
	<h3>Privacy levels</h3>
	<p>
		<b>Public</b> - visible to anyone
	</p>
	<p>
		<b>Unlisted</b> - invisible on profiles to everyone but moderators
	</p>
	<p>
		<b>Private</b> - like unlisted, but only viewable by you and moderators
	</p>
</div>
